html, body{
    width: 100%;
    width: 100%;
}

@font-face {
    font-family: Thintel; 
    src: url(Thintel.ttf); 
}

body {
    background: black;
    color:white;
    font-family: Thintel;
    text-align: center;
    font-size: 60pt;
}

#clock{
    width: 140px;
    /* background: darkslateblue; */
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;            
    top: 50%;                         
    transform: translate(0, -50%)
}