@font-face {
    font-family: Thintel; 
    src: url(Thintel.ttf); 
    
}

body {
    background: black;
    color:aliceblue;
    font-family: Thintel;
    text-align: center;
    font-size: 40pt;
}

#container{
    height: 10em;
    display: flex;
    align-items: center
}

#clock{
    margin-left: 50%;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%)
}