@font-face {
    font-family: Thintel; 
    src: url(Thintel.ttf); 
    
}

body {
    background: black;
    color:aliceblue;
    font-family: Thintel;
    text-align: center;
    font-size: 40pt;
}

div{
    background: blueviolet;
    

    margin: 0 auto;
    
}